.layout_wrapper {
    display: flex;
    justify-content: space-between;
    min-width: 196px;

    .sidebar > nav > a {
        opacity: .6;
        color: inherit;
        transition: opacity .2s ease;

        &.active {
            opacity: 1;
        }
    }

    h2 {
        margin: 0;
    }
}
