.app_wrapper {
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .created_by_section {
        position: relative;
        height: 270px;
        width: 210px;

        .logo {
            top: -360px;
            right: 50%;
            left: 50%;
            transform: translateX(-50%) scale(0.19);
            position: absolute;
        }

        .promo {
            position: absolute;
            bottom: 0;
        }
    }
}
